{% include "header.html" %}
<div class="uk-child-width-3@s uk-child-width-1-3@m uk-text-center uk-padding" uk-grid>
    <form class="uk-form-horizontal uk-form-width-small">

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">User ID</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="number" min="1" placeholder="Enter the user ID">
            </div>
        </div>
        <div class="uk-margin">
            <button class="uk-button uk-button-primary">Request ride</button>
        </div>

    </form>
</div>
{% include "footer.html" %}